/*

CSS Styleguide
body { 
	background: #00F;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-border-radius: 50% 50%;
	   -moz-border-radius: 50% 50%;
		box-border-radius: 50% 50%;
}

.menu,
.honden-ren,
#navigatie {
}

*/

/* COOKIE BAR VERBERGEN */
.cookieWarningBox {
	display: none;
}

@media only screen and (max-width: 990px) {
	body {
		background-color: #0F0;
	}
	
	#page-container,
	#header,
	#content,
	#toptaken,
	#footer {
		width: 100%;
	}
	
	#middleColumn,
	#rightColumn,
	#colWide {
		width: 100%;
	}
		
}

@media only screen and (max-width: 768px) {
	body {
		background-color: #F00;
	}		
}

@media only screen and (max-width: 480px) {
	body {
		background-color: #00F;
	}
}